/* LANDING PAGE */

li {
	list-style-type: none;
	text-align: center;
}

#homepage {
	height: 100%;
	width: 100%;
}

#title {
	display: none;
}

#logo {
	background-image: url('/img/joe_logo.jpg');
	width: 12rem;
	height: 12rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#gig-link {
	text-align: center;
	padding: 1rem;
}

.playButton {
	background-image: url('/img/soundwave2_1.png');
	width: 318px;
	height: 112px;
	border-top: 1px solid #484848;
	margin-left: auto;
	margin-right: auto;
}

.name {
	line-height: 112px;
	font-size: 26px;
	font-weight: 100;
	color: #FF8300;
	letter-spacing: 2px;
}

.pauseButton {
	display: none;
	background-image: url('/img/tears-clicked.png');
	width: 318px;
	height: 112px;
	border-top: 1px solid #484848;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 320px) {
	.playButton {
		width: 300px;
		margin-left: -20px;
	} 
}

@media (max-width: 320px) {
	.pauseButton {
		width: 300px;
		margin-left: -20px;
	} 
}

/* GIGS PAGE */

#gig-header {
	text-align: center;
	margin-top: 1rem;
}

#gig-night {
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	border: 2px solid #484848;
	margin-top: 1rem;
	padding: 0.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	background-image: url('/img/xoyo.jpg');
}

a #venue {
	color: #7df9ff;
}

/* ARTIST PAGE */

h4 {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0.6rem;
	margin-left: 20%;
	width: 60%;
	background-color: #F80000;
	color: #F8F8F8;
	font-size: 1.4rem;
	opacity: 0.9;
}

@media (max-width: 320px) {
	h4 {
		width: 84%;
		font-size: 1.1rem;
		margin-left: 8%;
	}
}

.artist-listing {
	background-color: #F92C2C; 
}

#artist-track-list {
	border: 1px solid #484848;
	width: 10rem;
	height: 8rem;
	padding: 0.5rem;
	margin: 1rem;
	margin-left: 84%;
}

@media (max-width: 320px) {
	#artist-track-list {
		width: 8rem;
		height: 7rem;
		margin-left: 60%;
	}
}

#new-gig {
	margin-bottom: 1rem;
}
