#homepage {
	height: 100%;
	width: 100%;
}

#title {
	display: none;
}

#logo {
	background-image: url('/img/joe_logo.jpg');
	width: 200px;
	height: 200px;
	margin-left: 12%;
}

li {
	list-style-type: none;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #00FF00;
}

ul {
	margin-left: 0 !important;
	line-height: 2.2 !important;
}

.play {
	width: 0; 
	height: 0; 
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 18px solid #484848;
	margin-top: 2.4rem;
	margin-left: 0.8rem;
}

#play-one {
	width: 0; 
	height: 0; 
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 18px solid #484848;
	margin-top: 2.4rem;
	margin-left: 0.8rem;
}

#track-one {
	background-image: url('/img/at-your-touch.png');	
	width: 318px;
	height: 112px;
	border-top: 1px solid #484848;
}

.onetoggle {
	background-image: url('/img/at-your-touch-clicked.png') !important;
}

#track-two {
	background-image: url('/img/isolate.png');	
	width: 318px;
	height: 112px;
	border-top: 1px solid #484848;
	border-bottom: 1px solid #484848;
}

.twotoggle {
	background-image: url('/img/isolate-clicked.png') !important;
}

#track-three {
	background-image: url('/img/tears.png');	
	width: 318px;
	height: 112px;
}

.threetoggle {
	background-image: url('/img/tears-clicked.png') !important;
}
