/* LANDING PAGE */
body {
	background-image: url('/img/textured.jpg');
}

.background-img {
	background-image: url('/img/joe_opaque.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center;
  z-index: 10;
  height: 100%;
}

.artist-p {
	background-image: url('/img/joe_berlin.png');
	background-repeat: no-repeat;
	height: auto;
}

.gig-background {
	background-image: url('/img/joe_berlin.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center;
  z-index: 10;
  height: 100%;
}

@media (max-width: 320px) {
	.gig-background {
		margin-top: -1rem;
	} 
}

li {
	list-style-type: none;
	text-align: center;
}

ul {
	margin-left: auto;
}

#welcome {
	margin-top: 2rem;
	text-align: center;
}

#welcome p {
	display: none;
}

#title {
	display: none;
}

#logo {
	background-image: url('/img/cutout_logo.png');
	width: 12rem;
	height: 12rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 20;
}

#gig-link {
	text-align: center;
	padding: 1rem;
}

.playButton {
	background-image: url('/img/soundwave2_1.png');
	width: 300px;
	height: 112px;
	border-top: 1px solid #484848;
	margin-left: auto;
	margin-right: auto;
	color: #000040;
}

.name {
	line-height: 112px;
	font-size: 26px;
	font-weight: 100;
	letter-spacing: 2px;
	color: #FF8300;
}

.pauseButton {
	display: none;
	background-image: url('/img/soundwave_paused.png');
	width: 300px;
	height: 112px;
	border-top: 1px solid #484848;
	margin-left: auto;
	margin-right: auto;
	font-weight: 200;
}

@media (max-width: 320px) {
	.playButton {
		margin-left: -2px;
	} 
}

@media (max-width: 320px) {
	.pauseButton {
		margin-left: -2px;
	} 
}

/*GIGS PAGE */

#gig-header {
	text-align: center;
	margin-top: 1rem;
}

h2 {
	font-weight: 100;
	letter-spacing: 2px;
	margin-top: 2rem;
	color: #FF0000;
}

#gig-night {
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	border: 2px solid #484848;
	margin-top: 1rem;
	padding: 0.5rem;
	padding-top: 2.4rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	background-image: url('/img/xoyo.jpg');
	z-index: 20;
	font-weight: 100;
	opacity: 0.6;
}

#gig-night:hover {
	opacity: 0.9;
	transition: opacity .25s ease-in-out;
}

@media (max-width: 320px) {
	#gig-night {
		opacity: 0.9;
	} 
}

a#venue {
	color: #6666b2;
}

a {
	color: #000066;
	font-weight: 200;
}

a:hover {
  color: #6666b2;
}

/* ARTIST PAGE */

h4 {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0.6rem;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	background-color: #F80000;
	color: #F8F8F8;
	font-size: 1.4rem;
	opacity: 0.9;
	font-weight: 100;
	letter-spacing: 2px;
}

@media (max-width: 320px) {
	h4 {
		width: 84%;
		font-size: 1.1rem;
		margin-left: 8%;
	}
}

.artist-listing {
	background-color: #F92C2C; 
}

#artist-track-list {
	border: 1px solid #484848;
	width: 10rem;
	height: 8rem;
	padding: 0.5rem;
	margin: 1rem;
	margin-left: 84%;
}

@media (max-width: 320px) {
	#artist-track-list {
		width: 8rem;
		height: 7rem;
		margin-left: 60%;
	}
}

#new-event {
	margin-bottom: 1rem;
}

/* ARTIST ADMIN */

.login-header {
	text-align: center;
}

#sign-in {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#sign-up {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#links {
	text-align: center;
}

/* EDIT A GIG PAGE */

#gig-to-edit {
	font-weight: 100;
	letter-spacing: 2px;
	margin-top: 2rem;
	color: #FF0000;
}

#new-gig {
	padding: 2rem;
}




