<div class="row">
	<div class="small-12 columns">
		<h2>Joe Hertz</h2>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h4>Adding a track</h4>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div id="new-track">
			<form action="/" method="post">
				Title: <input type="text" name="title">
				<input type="submit" value="Add Track">
			</form>
		</div>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<div id="file-upload">
			<form action="upload.mp4" method="post" enctype="multipart/form-data">
				Select track to upload:
				<input type="file" name="fileToUpload" id="fileToUpload">
		    <input type="submit" value="Upload Track" name="submit">
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h4>Adding a gig</h4>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div id="new-gig">
			<form action="/gigs" method="post">
				Date: <input type="text" name="date">
				Venue: <input type="text" name="venue">
				<input type="submit" value="Add Gig">
			</form>
		</div>
	</div>
</div>