<form action='/artist' method='post' accept-charset='utf-8' enctype='multipart/form-data'>
	<label for='content_file'>Track Name</label>
	<input type="file" name="content[file]" id="content_file" />
	<button type='submit'>Add</button>
</form>