<div class="row">
	<div class="small-12 columns">
		<h2>Please create a login<h2>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<form action="/artist" method="post" id="sign-up">
			<input name="name" type="text" placeholder="Name">
			Email: <input name="email" type="email">
			Password: <input name="password" type="password">
			Password confirmation: <input name="password_confirmation" type="password">
			<input type="submit" value="Create Login">
		</form>
	</div>
</div>
